  
  .shadow-violet {
    -webkit-box-shadow: 0px 10px 16px 0px rgba(203, 190, 234, 0.75);
    -moz-box-shadow: 0px 10px 16px 0px rgba(203, 190, 234, 0.75);
    box-shadow: 0px 10px 16px 0px rgba(203, 190, 234, 0.75);
  }
  
  .ruppeCursive {
    font-family: "Courgette", cursive;
  }
  