<!-- heart of content as a fresher compulsary to know ? 
1) NgModules
2) Component
3) Directives
4) Pipes
5) Services
6) Forms (Template driven Forms and reactive forms)
7) HttpClient(interceptor ?)
8) Gaurds in Angular
-->


<!-- <app-hello-world></app-hello-world> -->
<ng-container *ngIf="!isAuthModule">

    <nav class="navbar navbar-expand-lg bg-light" id="nav">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand">
                    <img [src]="ecomsitelogo" alt="" width="30" height="24" class="d-inline-block align-text-top">
                </a>
    
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item" *ngIf="isInventoryManager">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/management','prd']">Inventory</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/shopping','product']">Shopping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/shopping','cart']">Cart
                            <span *ngIf="cartCount>0" class="position-absolute translate-middle badge rounded-pill bg-danger" style="top:12px">
                                {{cartCount}}
                                <span class="visually-hidden">unread messages</span>
                              </span>
                        </a>
                        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="logout()">Logout</a>
                    </li>
                </ul>
    
            </div>
        </div>
    </nav>
</ng-container>
<router-outlet></router-outlet>