<div class="container text-center" *ngIf="products.length">
    <div class="row row-cols-auto">
        <ng-container *ngFor="let product of products">

            <div class="col mb-4">

                <app-product-card [productInfo]="product" (updatedProductInfo)="trackChanges($event)"></app-product-card>
            </div>
        </ng-container>

    </div>
</div>

<div class="container text-center" *ngIf="products.length === 0">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
