<div class="d-flex justify-content-center">

    <div class="card w-50">
        <h2 class="card-header bg-transparent text-center">Product Details</h2>
        <div class="card-body">
            <form [formGroup]="productForm">


                <div class="mb-2">
                    <label class="form-label">Product Name :</label>
                    <input type="text" formControlName="name" class="form-control">
                </div>
                <div class="mb-2">
                    <label class="form-label">Product Image :</label>
                    <input type="text"  formControlName="image" class="form-control">
                </div>
                <div class="mb-2">
                    <label class="form-label">Product Description :</label>
                    <textarea class="form-control"  formControlName="description"></textarea>
                </div>

                <div class="mb-2">
                    <label class="form-label">Product Manufacturer :</label>
                    <input type="text" class="form-control"  formControlName="manufacturer">
                </div>

                <div class="mb-2">
                    <label class="form-label">Product Price :</label>
                    <input type="number" class="form-control"  formControlName="price">
                </div>
                <div class="mb-2">
                    <label class="form-label">Product Category :</label>
                    <input type="text" class="form-control"  formControlName="category">
                </div>
                <div class="mb-2">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" formControlName="isAvailable">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Product Availability</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer bg-transparent">

            <div class="d-flex justify-content-between">
                <div *ngIf="performOperation === 'update'"><button type="button" class="btn btn-primary" (click)="update()"><i
                            class="fa fa-save"></i>
                        Update</button></div>

                <div *ngIf="performOperation === 'add'"><button type="button" class="btn btn-primary" (click)="add()"><i
                            class="fa fa-save"></i>
                        Add</button></div>

                <div><button type="button" class="btn btn-secondary"><i class="fa fa-save"></i>
                        Cancel</button></div>
            </div>
        </div>
    </div>

</div>